asgiref==3.7.2
colorama==0.4.6
Django==3.2.21
gunicorn==21.2.0
importlib-metadata==6.8.0
packaging==23.1
Pillow==10.0.1
pypng==0.20220715.0
qrcode==7.4.2
setproctitle==1.3.2
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
zipp==3.17.0
