{% extends "base.html" %}
{% block content %}

<div class="container">

    <main role="main" class="row justify-content-md-center">
        <h1 class="cover-heading">We work for good taste.</h1>
        <p class="lead">Our Restaurant is an ideal spot for a business lunch,
            family dinner or a family meeting..<br><br>
            Thanks to delicious food, nice and professional service as well as <br>
            unique arrangement of the restaurant’s interior, we will give you <br>
            the superb climate for a festive candlelit supper,elegant name-day party, <br>
            birthday party, wedding, communion.
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Check our products</a>
        </p>
    </main>
</div>
{% endblock content %}